/*<------------------Start------------------>*/
html{
    font-size: 62.5%;
    font-family: sans-serif, cursive, Verdana, Geneva, Tahoma;
    font-weight: 400;
}
/*<-- Variáveis -->*/
:root {
    --font--title: 3rem;
    --text--shadow:  0 0 8px rgb(8, 172, 16);
    --footer-header-color: #00428c;
}

.wrapperContainer-fixado {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-id, .menu-icon {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.wrapperContainer-dark {
    background-color: var(--footer-header-color);
    box-shadow: 0px 0px 10px #000000;
}

.header_nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.header_nav ul li {
    border-right: 2px solid rgba(240, 240, 240, 0.63);
}

.header_nav ul li:last-child {
    margin: 0 5em 0 0 ;
}

.header_nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem ;   
}

.menu-item  a:hover { 
    border-bottom: 3px solid rgb(8, 255, 20);
}

.bi-moon, 
.bi-sun {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
  
}

.button:checked ~ .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    background-color: #191825;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 15px;
    box-shadow:2px 2px 10px black;
    padding: 4rem;
    max-width: 25rem;
}
.header-lado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}   
.header-temas .inputs {
    display: none;
}

.inputs-checkbox{
   background-color: #64646418;
   border-radius: 2rem;
   padding: 2rem;
   cursor: pointer;   
}
.inputs-checkbox:hover  {
   box-shadow: 0px 0px 12px green,
   2px 2px 10px blue;
}
.tema {
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 2.5rem;
}
.tema:hover {
    box-shadow: 0 0 4px rebeccapurple;
    background-color: #096bdb;
}
input[type='checkbox'] {
    display: none;
}

.main-title {
    text-align: center;
    margin-left: 2rem;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow: var(--text--shadow);
}

.section-hero {
    background: linear-gradient( #0e54b1, #00CCCC);
}

.hero_aling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 70rem;
} 

/*Animação de digitação*/
@keyframes escrever {
    from {
      width: 0%;
    }
    to {
      width: 750px;
    }
}
/* --Fim digitação-- */

.hero_title {
    color: #ffffff;
    font-size: var(--font--title);
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: escrever 4s steps(25) infinite normal,
    piscarPonteiro  800ms steps(25) infinite normal;
    border-right: 4px solid rgb(6, 255, 47)
}

.hero_aling p{
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}
.container_title {
    padding: 6rem;
    font-size: 5rem;
    text-align: center;
    text-shadow: var(--text--shadow);
}

/* Fomatação da seção container-images (container de imagem) */
.container-main  {
    width: 90%;
    margin: auto;
}
.container-image  {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
    border-bottom: 1px solid #ccc;
    padding: 5rem 0 5rem 0;
    
}

.container-image img {
    width: 30rem;
    border-radius: 1rem;
    transition: .2s linear;
}

.container-image img:hover {
    border-radius: .5rem;
}

.container-image h3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: blue;
    margin: 0;
} 
.container-image p {
    text-align: justify;
    line-height: 2;
    font-size: 1.5rem;
    width: 100%;

}
.container-reverse {
    flex-direction: row-reverse;
}
.img3 {
    flex-direction: row;
}
.section-dicas {
    width: 90%;
    margin: auto
}
.section-dicas h2 {
    padding: 7rem 0 7rem 0 ;
}
.section-dicas p {
    text-align: left;
    font-size: 2rem;
    line-height: 1.9;
    padding:  15px 15px 15px 0px ;
}

.section-div h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: green;
    font-size: 2.5rem;

}
.section-div:hover {
    color: #252525;
}
.h2 {
    padding: 4rem 2rem;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: var(--text--shadow);
}
.section-div_contador {
    counter-reset: contador;
}

.section-div_contador h3:before {
    font-weight: bold;
    color:green;
    counter-increment: contador;
    content: counter(contador);
    margin-right: 10px;
}

.conciente {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    background-color: var(--footer-header-color);
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: var(--text--shadow);

}
