/*<------------------Start------------------>*/
html{
    font-size: 62.5%;
    font-family: sans-serif, cursive, Verdana, Geneva, Tahoma;
    font-weight: 400;
}
/*<-- Variáveis -->*/
:root {
    --color--title:  yellow;
    --font--title: 3rem;
    --text--shadow:  0 0 8px rgb(8, 172, 16);
}

.wrapperContainer-fixado {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


.menu-id, .menu-icon {
    display: none;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;
}

.wrapperContainer-dark {
    background-color: #161616;
}

.header_nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;

}

.header_nav ul li {
    border-right: 1px solid rgba(240, 240, 240, 0.288);
}

.header_nav ul li:last-child {
    margin: 0 5em 0 0 ;
}

.header_nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    padding: 1rem ;
    transition: .2s linear;
}

.menu-item a:hover { 
    color: white;
    border-radius: 5px;
    text-decoration: underline;
    background: linear-gradient(90deg, #3f51b52a, transparent) #2195f344;
}


.main-title {
    text-align: center;
    margin-left: 2rem;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow: var(--text--shadow);
}

.section-hero {
    background: linear-gradient(0, #120c56, #131313);
}

.hero_aling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 70rem;
    animation: hero_aling 2s linear infinite;
} 

/*Animação de flutuação*/
@keyframes hero_aling {
    10% {
        transform: translateY(-15px);
        text-shadow: 0 0 5px rgba(2, 172, 2, 0.582);
    }
    50% {
        text-shadow: 0 0 8px rgba(3, 206, 3, 0.918);
    }
    80% {
        transform: translateY(15px);
        text-shadow: 0 0 10px rgb(2, 255, 2);
    }
}
/*Fim flutuação*/


/*Animação de digitação*/
@keyframes escrever {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
}

  @keyframes piscarPonteiro {
    0% {
      border-color: rgb(0, 255, 115);
    }
    100% {
        border-color: transparent;
      }
}
/* --Fim digitação-- */

.hero_title {
    color: #ffffff;
    font-size: var(--font--title);
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; 
    
    white-space: nowrap;
    overflow: hidden;
    animation: escrever 2.5s steps(13) infinite normal,
    piscarPonteiro  steps(13) infinite;
    border-right: 4px solid rgb(6, 255, 47)
}

.hero_aling p{
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}
.container_title {
    padding: 6rem;
    font-size: 5rem;
    text-align: center;
    text-shadow: var(--text--shadow);
}

/* Fomatação da seção container-images (container de imagem) */
.container-main  {
    width: 90%;
    margin: auto;
}
.container-image  {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
    border-bottom: 1px solid #ccc;
    padding: 5rem 0 5rem 0;
    
}

.container-image img {
    width: 30rem;
    border-radius: 1rem;
    transition: .2s linear;
}

.container-image img:hover {
    border-radius: .5rem;
}

.container-image h3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: blue;
    margin: 0;
} 
.container-image p {
    text-align: justify;
    line-height: 2;
    font-size: 1.5rem;
    width: 100%;

}
.container-reverse {
    flex-direction: row-reverse;
}
.img3 {
    flex-direction: row;
}
.section-dicas {
    width: 90%;
    margin: auto;
 
}
.section-div p{
    text-align: justify;
    font-size: 2rem;
    opacity: .8;
   
    line-height: 1.9;
    padding:  15px 15px 15px 0px ;
}

.section-div h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: green;
    font-size: 2.5rem;
  
}
.section-div:hover {
    background-color: #ccc;
    box-shadow: 0 0 10px rgb(70, 69, 69);
    transition: .2s ease-out;
}
.h2 {
    padding: 4rem 2rem;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: var(--text--shadow);
}
.section-div_contador {
    counter-reset: contador;
}

.section-div_contador h3:before {
    font-weight: bold;
    color:green;
    counter-increment: contador;
    content: counter(contador);
    margin-right: 10px;
}

.cor-Fundo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}
.cor-Fundo #color {
    width: 50%;
    height: 80px;
    background-color: #ccc;
    
}
.cor-Fundo button {
    width: 50%;
    padding: 20px;
    background-color: #0c5656;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s linear;
}

.cor-Fundo button:hover {
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 0 10px black;
    color: white;
}
.conciente {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    background-color: #27b4b4;
    padding: 40px;
    color: black;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: var(--text--shadow);
}
