@media screen and (max-width: 60rem) {
    .header {
        justify-content: space-between;
        display: flex;
    }
    .hero_aling {
        text-align: center;
    }
    .main-title {
        font-size: 2rem;
    }
  
    /* ---- Menu hamburguer ---**/
    .header-menu  {
        background-color: #cccccc41;
        align-items: flex-end;
        flex-direction: column;   
    }

    .header-menu  li a{
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .header-menu {
        max-height: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 96px;
        padding-left: 1rem;
        overflow: hidden;
        padding-right: 1rem;
        transition: max-height .4s;
        margin: 0;
    } 
    .header-menu li {
        padding: 15px 0;
    } 

    input[type="checkbox"]:checked ~ .header-menu  {
        max-height: 100vh;
    }

    .menu-id:checked+.menu-icon .nav-icon {
        background-color: transparent;
    }
    
    .nav-icon {
        background-color: #ccc;
        display: inline-block;
        height: 2px;
        width: 24px;
        position: relative;
    }

    .nav-icon::after, 
    .nav-icon::before {
        content: "";
        background-color: #ccc;
        display: inline-block;
        height: 2px;
        width: 24px;
        transition: transform .2s ease-in-out;
        position: absolute;
    }  
    .nav-icon::after {
        transform: translateY(8px);
        transition: transform .2s ease-in-out;
    }
    
    .nav-icon::before {
        transform: translateY(-8px);
    }

    .menu-id:checked + .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
    }

    .menu-id:checked + .menu-icon .nav-icon::after {
        transform: rotate(45deg);
    }

    .menu-icon {
        margin-right: 1rem;
        position: relative;
        cursor: pointer;
        height: 24px;
    }
    
    .header-menu:focus-within {
        max-height: 100vh;
    }
    .menu-icon {
        display: block;
    }
    .header_nav ul li:last-child {
        margin: 0 0 0 0 ;
    } 

    .header nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
   /* ---- Fim menu hamburguer ----*/

    .wrapperContainer-dark {
        border-radius: 0;
        background-color: #050505f1;
    }
    
    .hero_title{
        font-size: 1.5rem;
        animation: none;
        border-right: none;
    }
    .hero_aling p {
        font-size: 1.5rem;
       
    }

    .container-images {
        flex-direction: column;
    }
    .container-section h2 {
        font-size: 2rem;
    }


    .container-main  {
        width: 80%;
        margin:  auto;
    }

    .container-main h2 {
        font-size: 2rem;
    }
    .container-image  {
        flex-direction: column;
        align-items: center;
        padding: 0;
        box-shadow: 0 0 1rem black;
        border-radius: 1rem;
        margin-bottom: 5rem;
        text-align: left;
        border: 2px solid white;

        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .container-image:hover {
        box-shadow: 0 0 10px green;
    }

    .texto-junto {
        padding: 20px;
    }
    .texto-junto p {
        text-align: left;
    }
    .texto-junto h3{
        text-shadow: 2px 2px 8px #000;
    }
    .container-image img {
        width: 100%;
        border-radius: 1rem;
    }

    .h2 {
        font-size: 2rem;
        box-sizing: border-box;
        color: rgb(0, 255, 0);
        text-shadow: 2px 4px 4px #000;
    }
    .section-div {
        width: 100%;
        margin: auto;
    }

    .section-div:hover {
        background-color: transparent;
        box-shadow: none;
    }

    .section-div h3  {
        font-size: 1.5rem;
       
    }
    .section-div p{
        font-size: 1.5rem;
        text-align: left;
    }
    .conciente p {
        font-size: .9rem;
     
    }

    .button:checked ~ .inputs {
        padding: 20px;
    }
    .tema {
        padding: 10px;
        font-size: 1rem;
    }

}