@media screen and (max-width: 60rem) {
    .header {
        justify-content: space-between;
        display: flex;
    }
    .hero_aling{
        text-align: center;
    }

    .header_nav ul {
        align-items: flex-end;
        flex-direction: column; 
    }

    .header_nav ul li a{
        color: black;
        font-weight: bold;
    }

    .header-menu {
        max-height: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        padding-left: 1rem;
        overflow: hidden;
        padding-right: 1rem;
        transition: max-height .3s;
    
    } 
    .menu-id, .menu-icon {
        display: none;
    }
   
    .menu-icon {
        display: block;
    }
    .header_nav ul li:last-child {
        margin: 0 0 0 0 ;
    } 

    .header nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .menu-icon {
        margin-right: 1rem;
        position: relative;
        cursor: pointer;
    }

    input[type="checkbox"]:checked ~ .header-menu {
        max-height: 100vh;
        
    }
   
    input[type="checkbox"]:checked + .menu-icon .bi-list::before {
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:checked + .menu-icon .bi-list::after {
        transform: rotate(45deg);
    }

    .header-menu:focus-within {
        max-height: 100vh;
    }

    .bi-list {
        background-color: #ccc;
        display: inline-block;
        height: 2px;
        width: 24px;

    }

    .bi-list::after, 
    .bi-list::before {
        content: " ";
        background-color: #ccc;
        display: inline-block;
        height: 2px;
        width: 24px;
        transition: transform 1s;
        position: absolute;
    }  
    .bi-list::after {
        transform: translateY(8px);
        transition: transform 1s;
    }
    
    .bi-list::before {
        transform: translateY(-8px);
    }

    .wrapperContainer-dark {
        border-radius: 0;
        background-color: #050505f1;
    }
    .hero_title{
        font-size: 1.8rem;
    }
    .hero_aling p {
        font-size: 1.5rem;
    }

    .container-images {
        flex-direction: column;
    }
    .container-section h2 {
        font-size: 2rem;
    }

    .hero_aling {
        animation: none;
    }

    /*<-- Menu responsivo -->*/
    
    
    /*<-- Fim do menu responsivo -->*/
    .container-main  {
        width: 80%;
        margin:  auto;
    }

    .container-main h2 {
        font-size: 2rem;
    }
    .container-image  {
        flex-direction: column;
        align-items: center;
        padding: 0;
        box-shadow: 0 0 1rem black;
        border-radius: 1rem;
        margin-bottom: 5rem;
        text-align: left;
        background-color: white ;

        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .container-image:hover {
        box-shadow: 0 0 10px green;
    }

    .texto-junto {
 
        padding: 20px;
    }
    .container-image img {
        width: 100%;
        border-radius: 1rem;
    }
}