@media screen and (max-width: 50rem) {
    .header_nav {
        display: none;
    }
    .main-title {
       display: none;
    }
    .header_nav ul{
        display: block;
    }
    .wrapperContainer-dark {
        border-radius: 0;
        background-color: #050505f1;
    }
    .header_nav li{
        margin-bottom: 1rem;
    }
    .hero_aling{
        text-align: center;
    }

    .hero_title{
        font-size: 1.8rem;
    }
    .hero_aling p {
        font-size: 1.5rem;
    }

    .container-images {
        flex-direction: column;
    }
    .container-section h2 {
        font-size: 2rem;
    }

    .hero_aling {
        animation: none;
    }

    /*<-- Menu responsivo -->*/
    
    .label {
        width: 100vw;
        text-align: center;
        display: block;
        color: white;
    }

    .label ul {
        list-style: none;
        display: none;
        padding: 10px;
      
    }
    .label ul li a{
        width: 100%;
        color: white;
        text-decoration: none;
    }
    .label ul li a:hover {
        border-radius: 0;
        padding: 2px;
        text-decoration: underline;
        background: linear-gradient(90deg, #3f51b52a, transparent) #2195f344;
    }
 
    .label ul li {
        border-bottom: 1px solid rgba(119, 255, 0, 0.815);
        margin-bottom: 2rem;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    .bi-list {
        font-size: 3rem;
        font-weight: bold;  
    }
    input[type="checkbox"]:checked ~ ul {
        display: block;
        font-size: 1.5rem;
        
        
    } 
    /*<-- Fim do menu responsivo -->*/
    .container-main  {
        width: 80%;
        margin: auto;
    }

    .container-main h2 {
        font-size: 2rem;
    }
    .container-image  {
        flex-direction: column;
        align-items: center;
        padding: 0;
        box-shadow: 0 0 1rem black;
        border-radius: 1rem;
        margin-bottom: 5rem;
        text-align: left;

        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .container-image:hover {
        box-shadow: 0 0 10px green;
    }

    .texto-junto {
        padding: 10px;
    }
    .container-image img {
        width: 100%;
        border-radius: 1rem;
    }
}