
html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 400;
}
:root {
    --color--title:  yellow;
    --font--title: 3rem;
}

.wrapperContainer-fixado {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;
}

.wrapperContainer-dark {
    background-color: #131313;
}

.header_nav ul{
    display: flex;
    gap: 5px;
    list-style-type: none;
}

.header_nav a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    padding: .8rem;
    margin-right: 2rem;

    transition: .2s linear;
}

.header_nav a:hover{
    text-shadow: 0 0 5px rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: underline;
    background: linear-gradient(90deg, #3f51b52a, transparent) #2195f344;
}

.main-title {
    text-align: center;
    margin-left: 2rem;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgb(8, 172, 16);
}

.hero_aling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 70rem;
}

.hero_title {
    color: #080808;
    font-size: var(--font--title);
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

}

.hero_aling:first-child {
   font-size: 2rem;
    color: #0a0a0a;
    font-weight: bold;
}

.container_title {
    margin: 10rem 0 0 0 ;
    font-size: var(--font--title);
    text-align: center;
}

/* Fomatação da seção container-images (container de imagem)*/

.container-content {
    text-align: center;
    padding: 20px;
}

.container-images{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.container_card {
    text-align: left;
    flex: 1;
    overflow: auto;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-radius: 20px;
    height: 600px;
   

    transition: .2s linear;
}

.container_card:hover {
    box-shadow: 0px 0px 5px green;
} 

.container_card img {
    display: block;
    width: 100%;
}

.container-section h2 {
    margin: 7rem 0 7rem 0;
}

.container-card-content  {
    padding: 1.9rem 1.25rem;
    border-top: transparent;
    border-radius: 0 0 8px 8px;
}

.container-card-content p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.container-card-content h3 {
    font-weight: bold;
    font-size: 2rem;
}

#menu {
    display: none;
}
 
/* ---- Reponsivo ---- */
@media screen and (max-width: 50rem){

    .main-title {
        font-size: 1.5rem;
    }
    .header_nav ul{
        display: block;
    }
    .header_nav li{
        margin-bottom: 10px;
    }

    .hero_aling{
        text-align: center;
    }

    .hero_title{
        font-size: 1.8rem;
    }
    .hero_aling p {
        font-size: 1.5rem;
    }

    .container-images {
        flex-direction: column;
  
    }
    .container-section h2 {
        font-size: 2rem;
    }
    
    nav {
        display: none;
    }
    #menu {
        display: none;
    }
    .menu {
        display: block;
        border-radius: 50%;
        background: #ccc; 
        padding: 10px;
        float: right;
    }
    .header_nav ul li { 
        display: block;
        padding: 10px 0px;
    }
    .header_nav ul li a { 
        padding: 0;
        margin: 0 15px 10px 0;
        width: 100%; 
        float: left;
    }

    #menu:checked ~ nav {
       display: block;
       background-color: #ccc;
       box-shadow: 0 0 10px rgb(0, 0, 0);
       
    }
    
}

