
html{
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 400;
}

:root {
    --color--title:  yellow;
    --font--title: 3rem;
}

.wrapperContainer-fixado {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;

}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;
}

.wrapperContainer-dark {
    background-color: #131313f1;
}

.header_nav ul{
    display: flex;
    gap: 5px;
    list-style-type: none;
}

.header_nav ul li {
    padding: 0;

    border-right: 1px solid rgba(240, 240, 240, 0.288);
    margin: 0 4rem 0 0 ;
}

.header_nav a {
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-size: 1.6rem;
    padding: 1rem;
    transition: .2s linear;
}
.icon {
    font-size: 2rem;
    margin-right: .8rem;
}
.header_nav a:hover { 
    color: white;
    border-radius: 5px;
    text-decoration: underline;
    background: linear-gradient(90deg, #3f51b52a, transparent) #2195f344;
}


.main-title {
    text-align: center;
    margin-left: 2rem;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgb(8, 172, 16);
}

.hero_aling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 70rem;
}

.hero_title {
    color: #080808;
    font-size: var(--font--title);
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.hero_aling:first-child {
   font-size: 2rem;
    color: #0a0a0a;
    font-weight: bold;
}

.container_title {
    margin: 10rem 0  10rem 0 ;
    font-size: var(--font--title);
    text-align: center;
}

/* Fomatação da seção container-images (container de imagem) */
.ok  {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: start;
    margin-bottom: 60px;
    border-bottom: 2px solid #ccc;
}
.ok img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.ok h3 {
    text-transform: uppercase;
    color: blue;
} 
.ok p {
    text-align: justify;
    color: black;
    line-height: 2;
    font-size: 12px;
    width: 1000px;
}
.olasd {
    flex-direction: row-reverse;
}

.img3 {
    flex-direction: row;
}

.label {
    display: none;
}

@media screen and (max-width: 10rem) {
    .header_nav {
        display: none;
    }
    .main-title {
        display: none;
    }
    .header_nav ul{
        display: block;
    }
    .wrapperContainer-dark {
        border-radius: 0;
        background-color: #050505f1;
    }
    .header_nav li{
        margin-bottom: 10px;
    }
    .hero_aling{
        text-align: center;
    }

    .hero_title{
        font-size: 1.8rem;
    }
    .hero_aling p {
        font-size: 1.5rem;
    }

    .container-images {
        flex-direction: column;
    }
    .container-section h2 {
        font-size: 2rem;
    }

    .label {
        width: 100vw;
        text-align: center;
        display: block;
        color: white;
    }

    .label ul {
        list-style: none;
        display: none;
        padding: 10px;
    }
    .label ul li a{
        width: 100%;
        color: white;
        text-decoration: none;
    }
    .label ul li a:hover {
        border-radius: 10px;
        padding: 8px;
        text-decoration: underline;
        background: linear-gradient(90deg, #3f51b52a, transparent) #2195f344;
    }
 
    .label ul li {
        border-bottom: 1px solid rgba(119, 255, 0, 0.815);
        margin-bottom: 2rem;
    }
    

    input[type="checkbox"] {
        display: none;
    }
    
    .bi-list {
        font-size: 3rem;
        font-weight: bold;
    }
    input[type="checkbox"]:checked ~ ul {
        display: block;
        font-size: 1.5rem;
    } 
}

